@charset "utf-8";

/* 主体框架 */
html.off, html.off body{background:#f1f1f1 url(../img/left_bg.png) repeat-y left top;}
html.on, html.on body{background:#f1f1f1;background-image:none;}
.g-body{background:#f1f1f1;overflow:hidden;}
.g-sd{position:relative;display:block;width:225px;padding-top:10px;background:url(../img/openClose_bg.png) right top repeat-y;overflow:hidden;}
.g-sd a.open,.g-sd a.close{display:block;float:left;width:13px;height:auto;background:url(../img/left_menu_openClose.png) no-repeat 0 center;opacity:0.5;filter:alpha(opacity=50);}
.g-sd a.open:hover,.g-sd a.close:hover{opacity:1;filter:alpha(opacity=100);}
.g-sd a.close{background-position:-19px center;}
.left_menu_on{width:13px;padding:0;}
.left_menu_on #Scroll{display:none;}
#Scroll{float:left;width:212px;overflow:hidden;}
#leftMain{float:left;width:212px;height:auto;}
.g-mn{overflow:hidden;_zoom:1;_float:left;}
.g-mn-cnt{border:1px solid #d9d9d9;zoom:1;background:#fff;margin:8px 8px 0 0;}
.g-mn-cnt .content{border:1px solid #fff;zoom:1;}
.g-mn-cnt2{margin:8px;}
.g-cnt{padding-bottom:10px;background:#fff;overflow:hidden;}

/* 顶部Logo/菜单 */
.u-admin li i,.m-nav .nLi h3 a em,.m-menu .icon-chevron-right,.m-menu a:hover .icon-chevron-right{background:url(../img/icon_use.png) no-repeat;}
.g-head{min-height:44px;margin:0px;color:#999999;background-color:#f1f1f1;background-image:-moz-linear-gradient(top, #f1f1f1, #f1f1f1);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#f1f1f1));background-image:-webkit-linear-gradient(top, #f1f1f1, #f1f1f1);background-image: -o-linear-gradient(top, #f1f1f1, #f1f1f1);background-image:linear-gradient(to bottom, #f1f1f1, #f1f1f1);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f1f1', endColorstr='#fff1f1f1', GradientType=0);}
.g-head .logo{display:inline-block;padding:8px 10px;}
.g-head .logo img{display:block;height:42px;}
.u-admin,.u-admin li{list-style:none;}
.u-admin{margin:12px 10px 0;}
.u-admin li{float:left;}
.u-admin a{display:inline-block;padding:8px;line-height:16px;text-decoration:none;font-size:12px;color:#777;}
.u-admin a:hover{color:#194b7b;}
.u-admin li i{display:inline-block;width:16px;height:16px;margin-right:8px;vertical-align:bottom;}
.u-admin li .icon-user{background:url(../img/icon_user.png) no-repeat;}
.u-admin li .icon-home{background:url(../img/icon_home.png) no-repeat;}
.u-admin li .icon-logout{background:url(../img/icon_logout.png) no-repeat;}
.u-admin li .icon-lock{background:url(../img/icon_lock.png) no-repeat;}

/* 主导航 */
.m-nav{position:relative;z-index:1;width:auto;height:27px;line-height:27px;padding:9px 10px 0;background:#fafafa;background-image: -moz-linear-gradient(top, #ffffff, #ededed);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ededed));background-image: -webkit-linear-gradient(top, #ffffff, #ededed);background-image: -o-linear-gradient(top, #ffffff, #ededed);background-image: linear-gradient(to bottom, #ffffff, #ededed);background-repeat: repeat-x;border-top: 1px solid #d1d1d1;border-bottom: 3px solid #2e6da8;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);*zoom: 1;-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);}
.m-nav ul,.m-nav li{margin:0;padding:0;list-style:none;}
.m-nav a{text-decoration:none;color:#417eb7;}
.m-nav a:hover{text-decoration:none;color:#194b7b;}
.m-nav .nLi{position:relative;float:left;display:inline;}
.m-nav .nLi h3{float:left;margin:0;font-weight:normal;line-height:27px;}
.m-nav .nLi h3 a{display:block;width:100px;text-align:center;font-size:13px;font-weight:bold;}
.m-nav .nLi h3 a em{display:block;position:absolute;top:11px;right:13px;width:7px;height:5px;background-position:0 -38px;overflow:hidden;}
.m-nav .nLi h3 a:hover em{background-position:0 -11px;}
.m-nav .sub{position:absolute;display:none;left:0;top:27px;width:98px;padding:3px 0 0;text-align:center;line-height:28px;background:#3981c4;border:1px solid #2e6ca7;border:1px solid rgba(46, 108, 167, 0.2);border-top:0;border-bottom:0;-webkit-box-shadow:0 2px 4px rgba(71, 157, 235, 0.2);-moz-box-shadow:0 2px 4px rgba(71, 157, 235, 0.2);box-shadow:0 2px 4px rgba(71, 157, 235, 0.2);}
.m-nav .sub li{zoom:1;}
.m-nav .sub a{display:block;line-height:28px;color:#b9ddff;border-bottom:1px solid #2e6ca7;}
.m-nav .sub a:hover{color:#b9ddff;background-color:#2d689f;}
.m-nav .on,.m-nav .on h3{background:url(../img/bg_nav.png);}
.m-nav .on{background-position:0 0;}
.m-nav .on h3{background-position:100% -27px;}
.m-nav .on a{color:#fff;}
.m-nav .on h3 a em{background-position:0 -11px;}

/* 左侧菜单 */
.m-menu,.m-menu li{margin:0;padding:0;list-style:none;}
.m-menu{width:auto;padding-right:3px;}
.m-menu .submenu a{display:block;margin:0 0 -1px;padding:8px 14px;text-decoration:none;font-size:14px;color:#b9ddff;}
.m-menu .submenu a:hover{background:#2d689f;color:#fff;}
.m-menu .on{background:#2d689f;border-left:3px solid #4ba5f9;}
.m-menu .on a{position:relative;z-index:2;padding:8px 14px 8px 12px;text-shadow:0 1px 0 rgba(0,0,0,.15);color:#fff;}
.m-menu .on a:hover{background:none;}
.m-menu .icon-chevron-right{float:left;width:6px;height:9px;margin-top:6px;margin-right:5px;background-position:0 -66px;}
.m-menu .on .icon-chevron-right{background-position:0 -98px;}
.m-menu a:hover .icon-chevron-right{background-position:0 -98px;}

/* 面包屑 */
.m-crumb{height:31px;background-color:#f0f0f0;background-image:-moz-linear-gradient(top,#fff,#f0f0f0);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f0f0f0));background-image:-webkit-linear-gradient(top,#fff,#f0f0f0);background-image:-o-linear-gradient(top,#fff,#f0f0f0);background-image:linear-gradient(to bottom,#fff,#f0f0f0);background-repeat:repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff0f0f0',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);border-bottom:1px solid #95c3dc;overflow:hidden;zoom:1;}
.m-crumb ul,.m-crumb li{list-style:none;}
.m-crumb ul{margin-left:12px;}
.m-crumb li{float:left;line-height:32px;word-wrap:normal;white-space:nowrap;}
.m-crumb li i{display:inline-block;*display:inline;*zoom:1;width:20px;text-align:center;font-size:12px;color:#666;}

/* 查询条件 */
.m-query{padding:10px;background:#eef3f7;}
.m-query label,.m-query input,.m-query select{display:inline-block;margin:0;font-size:12px;}
.m-query label{margin-left:5px;}
.m-query input,.m-query select{height:22px;padding:0;line-height:22px;}
.m-query input{padding:0 5px;}
.m-query .table{table-layout:fixed;}
.m-query .table th,.m-query .table td{border:0;}
.m-query .table input{width:160px;}
.m-query .input-append{margin-bottom:0;}
.m-query .btn{margin:0 2px;}
.m-query .btn-small{height:24px;padding:2px 10px;}

/* 单/复选按钮 */
.u-subsec{display:inline-block;*display:inline;color:#333;}
.u-subsec label{display:inline-block;margin:0;font-size:12px;}
.u-subsec input[type="checkbox"],.u-subsec input[type="radio"]{width:13px;height:13px;margin:0 5px 0 0;background:none\9;background:none\0;}
.u-subsec input[type="radio"]{width:15px;height:15px;padding:0;}
input[type="checkbox"],input[type="radio"]{width:13px;height:13px;margin:0 5px 0 0;background:none\9;background:none\0;}
input[type="radio"]{width:15px;height:15px;}

/* 表格 */
.m-table{table-layout:fixed;border-collapse:collapse;}
.m-table th,.m-table td{padding:4px;line-height:30px;text-align:center;vertical-align:middle;white-space:nowrap;overflow:hidden;}
.m-table thead tr td,.m-table thead tr th{background-color:#eef3f7;border-bottom:1px solid #d5dfe8;text-align:center;}
.m-table.table-bordered thead tr td,.m-table.table-bordered thead tr th{border-bottom-color:#ddd;}
.m-table input[type="checkbox"],.m-table input[type="radio"],.m-table label,.m-table input,.m-table button,.m-table select,.m-table textarea{margin:0;vertical-align:baseline;}
.m-table textarea{padding:4px 8px;}
.m-table select{width:228px;}
.m-table .help-inline{width:223px;vertical-align:baseline;}
.m-table .u-subsec{display:block;}
.m-table .tdbg{background:#f5f8fa;}
.m-table label,.m-table label input[type="radio"],.m-table label input[type="checkbox"]{margin:0;display:inline-block;}
.m-table label{margin-right:10px;}
.m-table label input[type="radio"],.m-table label input[type="checkbox"]{margin:-3px 5px 0 0;vertical-align:middle !important;}
.m-table1 th,.m-table1 td{padding:10px;}
.m-table2{min-width:600px;}
.file-dir{display:inline-block;background:url(../img/icon_dir.png) 5px center no-repeat;padding-left:25px;cursor:pointer;}
.file-file{display:inline-block;background:url(../img/icon_file.png) 5px center no-repeat;padding-left:25px;cursor:pointer;}
.file-zip{display:inline-block;background:url(../img/icon_zip.png) 5px center no-repeat;padding-left:25px;cursor:pointer;}
.file-img{display:inline-block;background:url(../img/icon_img.png) 5px center no-repeat;padding-left:25px;cursor:pointer;}
.file-txt{display:inline-block;background:url(../img/icon_txt.png) 5px center no-repeat;padding-left:25px;cursor:pointer;}

/* 表单 */
.m-form{display:inline-block;padding:10px;background:#eef3f7;border:1px solid #ddd;}
.m-form .form_box{position:relative;padding:30px 0 71px;background:#fff;border:1px solid #d5dfe8;}
.m-form .control-group{display:inline-block;height:50px;margin:0 50px 5px 0;}
.m-form .control-group span{display:block;text-align:left;padding-left:0 !important;}
.m-form .form-actions,.m-form .form_box .btn-caozuo{width:100%;position:absolute;bottom:0;left:0;padding:20px 0;margin:0;text-align:center;}

/* 表单环绕 */
.m-fieldset{padding:8px;margin:8px;border:1px solid #ccc;}
.m-fieldset legend{width:auto;padding:0 5px;font-size:14px;margin:0;line-height:20px;color:#333333;border:0;border-bottom:0;}
.m-fieldset input,.m-fieldset select{margin-bottom:0;width:135px;}
.m-fieldset select{width:153px;}
.m-fieldset p,.m-fieldset label{display:inline-block;margin:0 0 8px 8px;cursor:auto;font-size:12px;}
.m-fieldset p{float:left;}
.m-fieldset label{width:65px;margin:0;text-align:right;}

/* 表单组合 */
.m-tabbox .tabbox-img{margin:0 30px;}
.m-tabbox label,.m-tabbox input,.m-tabbox button,.m-tabbox select,.m-tabbox textarea{margin:0;}
.m-tabbox input[type="checkbox"],.m-tabbox input[type="radio"]{margin-right:5px;vertical-align:middle;}
.m-tabbox input[type="file"]{height:initial;line-height:normal;}

/* 操作按钮 */
.btn{cursor:pointer;}
.disabled{cursor:auto;}
.m-btn{height:30px;line-height:30px;}
.m-btn .btn{display:block;float:left;margin:0 2px;cursor:pointer;}
.m-btn2 .btn2{float:none;margin-top:5px;}
.m-btn .disabled{cursor:auto;}
/*.btn-group .active{background:#fff;border:1px solid #196aeb;}*/

/* 翻页-默认居中 */
.m-page{margin:10px 0 0;text-align:center;line-height:32px;font-size:0;letter-spacing:-0.307em;*letter-spacing:normal;*word-spacing:-1px;word-wrap:normal;white-space:nowrap;color:#999;}
.m-page a,.m-page i{display:inline-block;*display:inline;*zoom:1;vertical-align:top;padding:0 12px;margin-left:-1px;border:1px solid #ddd;font-size:12px;letter-spacing:normal;word-spacing:normal;text-shadow:0 1px #fff;background:#fff;-webkit-transition:background-color 0.3s;-moz-transition:background-color 0.3s;-ms-transition:background-color 0.3s;transition:background-color 0.3s;}
.m-page a,.m-page a:hover{text-decoration:none;color:#39c;}
.m-page a.first{margin-left:0;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.m-page a.last{margin-right:0;border-top-right-radius:5px;border-bottom-right-radius:5px;}
.m-page a .pagearr{font-weight:bold;font-family:\5b8b\4f53;vertical-align:top;*vertical-align:middle;}
.m-page a.pageprv .pagearr{margin-right:3px;}
.m-page a.pagenxt .pagearr{margin-left:3px;}
.m-page a:hover{background:#f5f5f5;}
.m-page a:active{background:#f0f0f0;}
.m-page a.z-crt,.m-page a.z-crt:hover,.m-page a.z-crt:active{cursor:default;color:#999;background:#f5f5f5;}
.m-page a.z-dis,.m-page a.z-dis:hover,.m-page a.z-dis:active{cursor:default;color:#ccc;background:#fff;}
.m-page1{line-height:20px;font-size:12px;word-wrap:normal;white-space:nowrap;color:#666;}
.m-page1 input{display:inline-block;*display:inline;*zoom:1;width:28px;padding:0 7px;margin:0 3px;text-align:center;background:#fff;border:1px solid #ddd;font-size:12px;color:#000;}
.m-page1 select{display:inline-block;height:22px;margin:0;padding:0;line-height:22px;font-size:12px;color:#000;}

/* 居左 */
.m-page-lt{text-align:left;}
/* 居右 */
.m-page-rt{text-align:right;}
/* 较小 */
.m-page-sm{line-height:22px;}
.m-page-sm a,.m-page-sm i{padding:0 8px;}
/* 分离 */
.m-page-sr a,.m-page-sr i{margin:0 3px;border-radius:5px;}
.m-page-sr i{border:0;}
.m-page-sr a.first,.m-page-sr a.last{border-radius:5px;}

/* 定制文件上传按钮  */
.u-upload{display:inline-block;*display:inline;*zoom:1;position:relative;overflow:hidden;}
.u-upload input{position:absolute;top:0;right:-1px;font-size:100px;cursor:pointer;opacity:0;filter:alpha(opacity=0);}
a.u-upload,a.u-upload:hover{text-decoration:none;}

/* 200/404/500 */
.m-error{position:absolute;top:50%;left:50%;width:500px;height:90px;padding-top:246px;margin:-210px 0 0 -250px;text-align:center;}
.m-error a{display:inline-block;}
.m-right-200{background:url(../img/200.png) center 40px no-repeat;}
.m-error-404{background:url(../img/404.jpg) center 40px no-repeat;}
.m-error-500{background:url(../img/500.jpg) center 40px no-repeat;}

.m-tit{height:23px;margin:0;background:url(../img/hr.png) left bottom repeat-x;}
.m-tit h3{float:left;height:16px;padding:0 0 0 10px;margin:0;line-height:16px;border-left:3px solid #488fce;font-weight:bold;font-size:14px;color:#333;}
.m-tit ul,.m-tit li{list-style:none;padding:0;margin:0;}
.m-tit ul{height:16px;line-height:16px;margin-left:25px;}
.m-tit li{float:left;margin:0 5px;}
.m-tit li a{display:block;height:16px;line-height:16px;padding:0 5px;text-align:center;font-size:12px;}
.m-tit li a.active,.m-tit li a:hover{background-color:#3b7fc4;text-decoration:none;color:#fff;}
.m-tit .more{display:block;float:right;margin-right:5px;font-size:12px;font-family:\5b8b\4f53;}
.u-tit{height:25px;margin:0;padding:0 5px;line-height:25px;text-align:center;border-bottom:1px solid #2e6da8;font-size:12px;font-weight:normal;}
.u-tit1{height:16px;line-height:16px;margin:15px 0;font-weight:bold;font-size:14px;color:rgb(84, 141, 212);}

/*========== 客服端框架 ==========*/
.u-state{height:25px;margin-bottom:5px;padding:0 5px;line-height:25px;background:#fcfcfd;}
/* 工具栏 */
.g-bd1{height:36px;margin:5px;border:1px solid #fff;font-size:12px;color:#999;}
.g-bd1c{padding:0 7px 0 5px;background:#fcfcfd;zoom:1;}
.g-sd1{position:relative;width:220px;overflow:hidden;zoom:1;}
.g-sd1 ul,.g-sd1 li{margin:0;padding:0;list-style:none;}
.g-sd1 li{display:inline-block;line-height:34px;line-height:33px\9;line-height:33px\0;word-wrap:normal;white-space:nowrap;}
.g-sd1 li i{display:inline-block;*display:inline;*zoom:1;width:10px;text-align:center;font-size:12px;color:#ccc;font-style:normal;font-family:\5b8b\4f53;}
.g-sd1 li a{display:inline-block;padding:0 5px;font-weight:bold;color:#1155cc;}
.g-mn1{line-height:34px;}
.g-mn1c .btn{margin:0 3px;}
.g-mn1c select{display:inline-block;height:27px;padding:0;margin:0 3px;line-height:27px;font-size:12px;}

/* 三列中间自适应布局 */
.g-bd2{margin:0 5px;}
.g-sd2l,.g-sd2r{position:relative;float:left;width:148px;margin:0 -150px 0 0;}
.g-sd2l{background:#fff;}
.g-sd2r{float:right;width:170px;margin:0 0 0 -170px;}
.g-mn2{float:left;width:100%;}
.g-mn2c{margin:0 175px 0 155px;}
.g-mn2c .g-mn2c-cnt,.m-visitor{background:#fff;}
.g-mn2c-cnt .u-userinfo{height:80px;background:#fcfcfd;border-bottom:1px solid #d9d9d9;}
.m-visitor{height:123px;}
.m-sidemenu{}
.m-sidemenu .u-tit{height:25px;line-height:25px;cursor:pointer;}
.m-sidemenu .u-tit a{display:inline-block;height:25px;cursor:pointer;}
.m-sidemenu .u-tit .f-fl{text-decoration:none;color:#333;}
.m-sidemenu .u-tit .f-fl:hover{color:#f60;}
.m-sidemenu h3.on a{background-position:16px -57px;}
.m-sidemenu .c-bor{margin-top:5px;background:#fff;}
.m-sidemenu .m-sidemenu-cnt{overflow:hidden;}

.m-dialog2 .u-record{overflow-y:scroll;}
.m-dialog2 .u-operate{}
.m-dialog2 .u-operatebar{height:25px;padding:0 10px;line-height:25px;background:#fcfcfd;border:solid #d9d9d9;border-width:1px 0;overflow:hidden;}
.m-dialog2 .u-input{position:relative;}
.m-dialog2 .u-txtarea{position:absolute;top:0;left:0;margin:0;border:0 none;resize:none;}
.m-dialog2 .u-send{float:right;width:100px;padding:34px 0;text-align:center;}
.m-dialog2 .u-send .dropdown-menu{min-width:100px;}
.m-dialog2 .u-send .dropdown-menu a{padding:0px 10px;}
.m-dialog2 .u-send .dropdown-menu label{display:inline-block;margin-bottom:0;font-size:12px !important;}

/* 对话列表 */
.m-talk,.m-talk li{margin:0;padding:0;list-style:none;}
.m-talk{overflow-y:scroll;}
.m-talk li{position:relative;padding:5px 0;text-align:center;line-height:20px;background:#fafafb;border-bottom:1px solid #d9d9d9;font-size:12px;cursor:pointer;}
.m-talk li:hover{background:#f7eeff;}
.m-talk .on{background:#eff6ff;}
.m-talk li p{margin-bottom:0;color:#808080;}
.m-talk .on p{color:#2786e4;}
.m-talk li .u-close{display:block;position:absolute;top:0;right:0;width:13px;height:13px;text-align:center;line-height:16px;background:#f60;color:#fff;font-size:13px;cursor:pointer;font-family:\5b8b\4f53;}

/* 聊天工具栏 */
.u-operatebar-btn,u-operatebar-btn li{margin:0;padding:0;list-style:none;}
.u-operatebar-btn{overflow:hidden;}
.u-operatebar-btn li{float:left;margin-right:10px;line-height:25px;cursor:pointer;}

.m-from{}
.m-from-sm{}
.m-from-sm label,.m-from-sm input,.m-from-sm select{display:inline-block;margin:0;font-size:12px;}
.m-from-sm label{margin-left:5px;}
.m-from-sm input,.m-from-sm select{height:22px;padding:0;line-height:22px;}
.m-from-sm input{padding:0 5px;}
.m-from-sm .btn{margin:0 2px;}
.m-from-sm .btn-small{height:24px;padding:2px 10px;}
.u-search{height:22px !important;margin-bottom:0 !important;padding:0 5px !important;line-height:22px !important;-webkit-border-radius:11px !important;-moz-border-radius:11px !important;border-radius:11px !important;}

/*========== 客户端框架 ==========*/
.m-chat-hd{border-bottom:1px solid #fff;font-size:12px;color:#999;}
.m-chat-hdc{height:32px;padding:11px 10px;border-bottom:1px solid #d9d9d9;zoom:1;overflow:hidden;}
.u-teach{position:relative;width:220px;overflow:hidden;zoom:1;}
.u-teach img{float:left;display:block;width:32px;border-radius:32px;border:2px solid #666;background:#fff;}
.u-teach p{float:left;height:32px;margin-left:10px;line-height:32px;font-weight:bold;font-size:14px;color:#f60;}
.u-teach p span{margin-left:5px;color:#173c59;}

/* 两列左侧自适应布局 */
.m-chat-mn{margin:5px 5px 0;}
.g-sd5{position:relative;float:right;width:158px;margin-left:-165px;*margin-left:-160px;background:#fff;}
.g-mn5{float:left;width:100%;}
.g-mn5c{}
.g-mn5c .u-tit{overflow:hidden;}
.m-dialog .u-record{overflow-y:scroll;}
.m-dialog .u-operate{}
.m-dialog .u-operatebar{height:25px;padding:0 10px;line-height:25px;background:#fcfcfd;border:solid #d9d9d9;border-width:1px 0;overflow:hidden;}
.m-dialog .u-input{position:relative;}
.m-dialog .u-txtarea{position:absolute;top:0;left:0;margin:0;border:0 none;resize:none;}
.m-dialog .u-send{float:right;width:100px;padding:34px 0;text-align:center;}
.m-dialog .u-send .dropdown-menu{min-width:100px;}
.m-dialog .u-send .dropdown-menu a{padding:0px 10px;}
.m-dialog .u-send .dropdown-menu label{display:inline-block;margin-bottom:0;font-size:12px !important;}
.m-message{overflow:hidden;}

.slideTab{width:158px;}
.slideTab .hd{position:relative;height:25px;line-height:25px;padding:0 10px 0 20px;border-bottom:1px solid #2e6da8;}
.slideTab .hd ul,.slideTab .hd ul li{margin:0;padding:0;list-style:none;}
.slideTab .hd ul{position:absolute;left:0;top:-1px;height:27px;}
.slideTab .hd ul li{float:left;width:79px;height:26px;line-height:25px;text-align:center;cursor:pointer;}
.slideTab .hd ul li.on{background:#fff;border-top:1px solid #2e6da8;}
.slideTab .hd ul .u-borl{width:78px;border-right:1px solid #d9d9d9;}
.slideTab .bd .tabBox{}

.slideTab2{margin-right:165px;background:#fff;}
.slideTab2 .hd{position:absolute;top:0;right:10px;}
.slideTab2 .hd ul,.slideTab2 .hd ul li{margin:0;padding:0;list-style:none;}
.slideTab2 .hd ul{border:solid #d9d9d9;border-width:0 1px 1px;}
.slideTab2 .hd ul li{float:left;width:79px;height:40px;line-height:40px;text-align:center;font-size:14px;font-weight:bold;cursor:pointer;}
.slideTab2 .hd ul li.on{background:#fafafa;background-image:-moz-linear-gradient(top, #ededed, #ffffff);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ededed), to(#ffffff));background-image:-webkit-linear-gradient(top, #ededed, #ffffff);background-image:-o-linear-gradient(top, #ededed, #ffffff);background-image:linear-gradient(to bottom, #ededed, #ffffff);background-repeat:repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0);color:#f60;}
.slideTab2 .hd ul .u-borl{width:78px;border-right:1px solid #d9d9d9;}
.slideTab2 .bd .tabBox{}

/* 聊天样式 */
.u-record{position:relative;padding-left:6px;line-height:24px;font-size:12px;font-family:"Helvetica Neue", Helvetica, Arial, "宋体";}
.u-record p{margin-bottom:0;color:#000;}
.u-record p a{padding-left:12px;background:url(../img/icon_link.png) left center no-repeat;font-size:14px;text-decoration:underline;}
.u-record .r-welcome,.u-record .r-history{color:#808080;}
.u-record .r-welcome{margin:5px 0;}
.u-record .r-history{width:200px;height:12px;margin:10px auto 20px;text-align:center;border-bottom:solid 1px #e1e1df;}
.u-record .r-history h3{display:inline-block;margin:0;padding:0 8px;line-height:1.5;background:#fff;font-size:14px;font-weight:normal;}
.u-record .r-offline{text-align:center;margin:20px 0;}
.u-record .r-offline .alert{display:inline-block;padding:2px 8px;margin-bottom:0;line-height:20px;text-align:center;}
.u-record .r-manager-txt,.u-record .r-visitor-txt{padding-left:19px;}
.r-sms-manager .r-manager{color:#008040;}
.r-sms-manager .r-visitor{color:#0000ff;}
.r-sms-visitor .r-manager{color:#0000ff;}
.r-sms-visitor .r-visitor{color:#008040;}
.m-dialog2 .u-record{padding:0 6px;}
.m-dialog2 .u-record .r-visitor-txt{text-align:right;padding-right:19px;}
.m-dialog2 .r-sms-manager .r-visitor{text-align:right;}

/* 状态栏 */
.g-bd3{height:26px;margin:5px;font-size:12px;color:#999;}
.g-bd3c{padding:0 5px 0;border:1px solid #fff;zoom:1;}
.g-sd3{position:relative;width:50%;overflow:hidden;zoom:1;}
.g-sd3 ul,.g-sd3 li,.g-mn3c ul,.g-mn3c li{margin:0;padding:0;list-style:none;}
.g-sd3 li,.g-mn3c li{float:left;line-height:24px;/*line-height:23px\9;line-height:23px\0;*/word-wrap:normal;white-space:nowrap;}
.g-sd3 li i,.g-mn3c li i{display:inline-block;*display:inline;*zoom:1;width:10px;text-align:center;font-size:12px;color:#ccc;font-style:normal;font-family:\5b8b\4f53;}
.g-sd3 li span,.g-mn3c li span{display:inline-block;padding:0 5px;color:#666;}
.g-sd3 .u-txt li{float:none;}

/* 登录页 */
.m-login{width:690px;height:600px;margin:0 auto;background:#dfdfdf url(../img/login_main_bg.png) no-repeat;}
.m-login-info{float:left;width:200px;height:40px;margin:300px 0 0 100px;_margin-left:100px;line-height:40px;text-align:center;color:#f00;}
.m-login .form_info{float:right;display:inline;width:250px;height:150px;margin:200px 100px 0 0;}
.m-login .field{margin:10px;}
.m-login .field label{float:left;padding:6px;margin-bottom:0;line-height:15px;font-size:12px;}
.m-login .field input.text{width:169px;height:15px;padding:6px;margin-bottom:0;background:url(../img/field_text_bg.jpg) repeat-x left center;border:1px solid #c5c5c5;}
.m-login .field input.text1{width:99px;}
.m-login .field .button{width:94px;height:28px;background:url(../img/login_button.jpg) no-repeat left center;border:0;cursor:pointer;}
.m-login .yzm{padding-left:10px;color:#4e9f06;font-size:16px;font-style:normal;font-weight:bold;font-family:Arial;}

/* 内容页左右布局 */
.g-bd6{margin:0 0 10px;}
.g-sd6{position:relative;float:left;width:188px;margin-right:-190px;background:#fff;}
.g-mn6{float:right;width:100%;}
.g-mn6c{margin-left:200px;}

.g-bd6-2 .g-sd6{width:278px;margin-right:-280px;}
.g-bd6-2 .g-mn6c{margin-left:290px;}

/* 聊天记录时间线 */
.m-recordtime{margin-bottom:0;padding:10px 0;overflow-y:scroll;}
.m-recordtime li .u-close{display:none;cursor:pointer;}
.m-recordtime li:hover .u-close{display:inline-block;}

/* 风格管理 */
.e_tit,.e_tit li{margin:0;padding:0;list-style:none;}
.e_tit{border-bottom:0;}
.e_tit li{position:relative;height:30px;line-height:30px;text-align:left;border-bottom:1px solid #d9d9d9;cursor:pointer;}
.e_tit li a{float:left;display:block;width:123px;text-decoration:none;color:#000;}
.e_tit .on{background:#2d689f;}
.e_tit .on a{border-left:3px solid #4ba5f9;color:#fff;}
.e_tit .on b{color:#fff !important;}
.e_tit li .u-close{display:block;width:13px;height:13px;margin:9px 9px 9px 0;text-align:center;line-height:16px;background:#f60;color:#fff;font-size:13px;cursor:pointer;font-family:\5b8b\4f53;}

/* 业务分组 */
.g-bd7{margin:0 0 10px;}
.g-sd71,.g-sd72{position:relative;float:left;width:150px;margin:0 -150px 0 0;}
.g-sd72{float:right;width:250px;margin:0 0 0 -250px;}
.g-mn7{float:left;width:100%;}
.g-mn7c{margin:0 250px 0 150px;}
.g-sd71 .u-tit,.m-group-menu{border-right:1px solid #d9d9d9;}
.g-sd72 .u-tit,.m-group-tree{border-left:1px solid #d9d9d9;}
.m-group-menu,.m-group-tree{padding:10px 0;background:#ecf2f7;}
.m-group-menu .e_tit{text-align:center;border-top:1px solid #d9d9d9;}
.m-group-member{padding:10px;overflow:hidden;}
.m-tag,.m-tag li{margin:0;padding:0;list-style:none;}
.m-tag{min-height:26px;}
.m-tag1{display:inline-block;margin-bottom:0;}
.m-tag1 span label{margin-bottom:0;font-size:12px;}
.m-tag1 td{border:0;}
.m-tag li,.m-tag1 span{position:relative;float:left;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:#dae4f6;color:#222;font-family:Arial,\5b8b\4f53;border:1px solid #dae4f6;line-height:23px;padding:0 19px 0 5px;margin:2px;cursor:default;}
.m-tag li .u-close{display:block;position:absolute;right:3px;top:4px;width:12px;height:13px;text-align:center;line-height:16px;font-size:17px;font-weight:700;color:#444;outline:none;cursor:pointer;}

/* 设置字段 */
.m-field{width:600px;}
.m-field h3{margin:0 auto;padding:0;text-align:center;font-size:14px;overflow:hidden;}
.m-field p{padding:0 10px;margin-bottom:0;line-height:30px;border:solid #d9d9d9;border-width:1px 0;}

/*========== 访客移动端对话框架 ==========*/
.m-mob-hd{position:fixed;top:0;left:0;width:100%;height:auto;line-height:43px;text-align:center;background:#333;border-bottom:2px solid #606060;z-index:110;}
.m-mob-siteTit{float:left;margin-left:10px;font-weight:bold;color:#fff;}
.m-mob-siteTit img{height:33px;margin-right:5px;}
.m-mob-tit{display:inline-block;margin:0;padding:0;line-height:43px;font-size:14px;color:#aaa;}
.m-mob-tit span{color:#09f;}
.m-mob-menu{position:relative;width:66px;height:24px;line-height:24px;margin:10px 10px 0 0;background:#000;border-radius:2px;}
.m-mob-menu a{display:inline-block;height:24px;padding:0 7px;margin:0;line-height:24px;text-decoration:none;color:#09f;cursor:pointer;}
.m-mob-submenu,.m-mob-submenuli{margin:0;padding:0;list-style:none;}
.m-mob-submenu{display:none;position:absolute;top:25px;right:0px;width:66px;height:49px;background:#000;border-radius:0 0 2px 2px;}
.m-mob-submenu a{}

.m-mob-bd{}
.m-mobChat-cnt{max-width:700px;padding:50px 0 60px;margin:0 auto;}
.msg-offline{text-align:center;margin:20px 0;}
.msg-offline .alert{display:inline-block;padding:2px 8px;margin-bottom:0;line-height:20px;text-align:center;}
.msg-worker,.msg-visitor{position:relative;min-height:34px;margin:10px 0 0;}
.msg-worker{padding-left:52px;}
.msg-visitor{text-align:right;padding-right:52px;}
.msg-worker .avatar,.msg-visitor .avatar{position:absolute;top:0;display:block;width:30px;height:30px;border-radius:4px;overflow:hidden;}
.msg-worker .avatar{left:7px;background:url(../img/icon_worker.png) no-repeat;}
.msg-visitor .avatar{right:7px;background:url(../img/icon_visitor.png) no-repeat;}
.msg-worker .msg-box,.msg-visitor .msg-box{position:relative;display:inline-block;max-width:450px;min-height:15px;font-size:15px;text-align:left;line-height:18px;padding:12px;border:1px solid #ddd;border-radius:4px;word-wrap:break-word;word-break:break-all;}
.msg-worker .msg-box{margin-right:17px;background:#fff;}
.msg-visitor .msg-box{margin-left:17px;background:#ffebdc;box-shadow:-1px 1px 2px rgba(55, 55, 55, 0.1);}
.msg-worker .msg-box i,.msg-visitor .msg-box i{position:absolute;top:10px;display:block;width:10px;height:12px;background:url(../img/icon_06.png) no-repeat;}
.msg-worker .msg-box i{background-position:0 0;left:-10px;}
.msg-visitor .msg-box i{background-position:-10px 0;right:-10px;}
.msg-time{color:#999;font-size:12px;line-height:12px;text-align:center;letter-spacing:1px;margin:10px 0 0;text-shadow:1px 1px 0 white;}

/* 输入模块 */
.m-mob-inputbar{width:100%;height:50px;position:fixed;bottom:0;left:0;z-index:100;}
.drop-up{width:100%;border:1px solid #b9c1d1;background:#fff;margin-left:auto;margin-right:auto;position:relative;padding:10px 0;}
.drop-up>li{padding-left:10px;}
.drop-up>li>a{color:black;}
.m-mob-inputbar .hd{height:44px;padding:6px 71px 0 74px;background:#f2f2f2;box-shadow:0 0 5px rgba(0,0,0,0.5);}
.m-mob-inputbar .icon-tools{display:block;width:25px;height:25px;position:absolute;top:12px;left:8px;background:url(../img/icon_vote.png);}
.m-mob-inputbar .icon-tools-close{background-position:-35px -22px}
.m-mob-inputbar .icon-face{position:absolute;top:13px;left:41px;display:block;width:25px;height:25px;background:url(../img/icon_face.png);}
.m-mob-inputbar .input{display:inline-block;width:100%;height:28px;line-height:22px;padding-left:0;padding-right:0;margin:0;border:1px solid #ccc;resize:none;box-shadow:1px 1px 1px rgba(0,0,0,0.1);}
.m-mob-inputbar .btn-send{position:absolute;top:10px;right:8px;}
.tool-bar{visibility:hidden;opacity:0;width:100%;height:49px;background:#fff;border-top:1px solid #dadada;position:absolute;bottom:40px;left:0;z-index:105;box-shadow:0 0 3px rgba(0,0,0,0.1);}
.tool-bar-show{visibility:visible;opacity:1;bottom:50px;}
.tool-bar li,.tool-bar li i{display:inline-block;height:25px;height:25px;line-height:25px;vertical-align:top;}
.tool-bar li{font-size:16px;margin:12px 10px;cursor:default;}
.tool-bar li:hover{text-shadow:0 0 3px rgba(0,0,0,0.3);}
.tool-bar li i{width:30px;margin-right:10px;}
.tool-bar li.photo i{background-position:0 -57px;}
.tool-bar li.score i{background-position:-30px -57px;}
.tool-bar li.share i{background-position:-60px -57px;}
.m-mob-face{opacity:0;width:100%;background:#fff;border-top:1px solid #dadada;position:absolute;bottom:50px;left:0;z-index:105;overflow:hidden;box-shadow:0 0 3px rgba(0,0,0,0.1);}
.m-mob-faceOn{visibility:visible;opacity:1;bottom:50px;}
.m-mob-face ul{font-size:0;padding-bottom:0;width:100%;-webkit-text-size-adjust:none;margin:0;}
.m-mob-face li{display:inline-block;width:32px;height:32px;line-height:32px;text-align:center;margin:2px 0 2px 7px;overflow:hidden;}
.m-mob-face li img{vertical-align:middle;height:26px;}

/* 评分模块 */
.m-mob-score{visibility:hidden;opacity:0;width:220px;padding:20px;background:#fff;position:fixed;top:0;z-index:150;box-shadow:0 0 5px rgba(0,0,0,0.5);border-radius:5px;}
.m-mob-scoreOn{visibility:visible;opacity:1;}
.m-mob-score p{font-size:16px;padding-bottom:15px;margin:0;}
.m-mob-score ul,.m-mob-score li{margin:0;padding:0;list-style:none;}
.m-mob-score ul{border-top:1px solid #dadada;}
.m-mob-score li{height:50px;line-height:50px;font-size:14px;border-bottom:1px solid #dadada;position:relative;cursor:default;}
.m-mob-score li .icon-star{display:inline-block;width:96px;height:19px;vertical-align:top;margin:15px 10px 0 0;background:url(../img/score-star.png) no-repeat;}
.m-mob-score li .icon-star-0{background-position:0 0;}
.m-mob-score li .icon-star-1{background-position:0 -51px;}
.m-mob-score li .icon-star-2{background-position:0 -101px;}
.m-mob-score li .icon-star-3{background-position:0 -151px;}
.m-mob-score li .icon-star-4{background-position:0 -201px;}
.m-mob-score li .icon-check{display:none;width:20px;height:20px;background:url(../img/icon_check.png) no-repeat;position:absolute;top:15px;right:15px;}
.m-mob-score li.selected{background:#f1f1f1;}
.m-mob-score li.selected .icon-check{display:block;}
.masker{visibility:hidden;opacity:.8;width:100%;height:100%;background:rgba(0,0,0,0.6);position:fixed;top:0;left:0;z-index:140;}
.masker-show{visibility:visible;opacity:1;}

.m-mob-btn{text-align:center;overflow:hidden;padding:15px 0 0;}
.m-mob-btn a{display:inline-block;width:100px;height:30px;line-height:30px;padding:0;text-align:center;text-decoration:none;text-shadow:1px 0 0 rgba(0, 0, 0, 0.3);border-radius:2px;box-shadow:0 0 1px rgba(0, 0, 0, 0.1);font-size:14px;color:#fff;}
.m-mob-btn .m-mob-btnOk{float:right;background:#ee6800;}
.m-mob-btn .m-mob-btnNo{float:left;background:#b9b9b9;}

/* 留言模块 */
.m-mob-message{display:block;width:300px;margin:0 auto;padding-top:50px;}
.m-mob-message p{padding:20px 0 7px;margin:0;}
.m-mob-message .tbox{width:288px;height:30px;line-height:normal;padding:0 5px;border:1px solid #dadada;box-shadow:inset 0 0 5px rgba(0,0,0,0.1);}
.m-mob-message .abox{width:288px;height:110px;line-height:22px;padding:5px;border:1px solid #dadada;resize:none;box-shadow:inset 0 0 5px rgba(0,0,0,0.1);}
.m-mob-message .bodyer .btnbar{text-align:center;padding-top:30px;}
.m-mob-message .btnbar .comm-btn-focus{height:30px;line-height:30px;padding:0 20px;}
.m-mob-message small{color:#999;display:block;text-align:center;padding:20px 0 10px;}
.m-mob-message small a{text-decoration:underline;color:#999;}

/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
/* 新增function样式 */
.f-mar0{margin:0 !important;}
.f-mtn{margin-top:5px !important;}
.f-mbn{margin-bottom:5px !important;}
.f-mtm{margin-top:10px !important;}
.f-mbm{margin-bottom:10px !important;}
.f-mtv{margin-top:15px !important;}
.f-mbv{margin-bottom:15px !important;}
.f-mtw{margin-top:20px !important;}
.f-mbw{margin-bottom:20px !important;}
.f-mtu{margin-top:30px !important;}
.f-mbu{margin-bottom:30px !important;}
.f-mar5{margin:5px !important;}
.f-mar10{margin:10px !important;}
.f-mar15{margin:15px !important;}
.f-mar20{margin:20px !important;}
.f-padd0{padding:0 !important;}
.f-ptn{padding-top:5px !important;}
.f-pbn{padding-bottom:5px !important;}
.f-ptm{padding-top:10px !important;}
.f-pbm{padding-bottom:10px !important;}
.f-ptv{padding-top:15px !important;}
.f-pbv{padding-bottom:15px !important;}
.f-ptw{padding-top:20px !important;}
.f-pbw{padding-bottom:20px !important;}
.f-padd5{padding:5px !important;}
.f-padd10{padding:10px !important;}
.f-padd15{padding:15px !important;}
.f-padd20{padding:20px !important;}
.f-nobor{border:0 none;}
.f-nobg{background:none;}
.f-txtl{text-align:left !important;}
.f-txtc{text-align:center !important;}
.f-txtr{text-align:right !important;}
.f-vat{vertical-align:top !important;}
.fixed:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.fixed{display:block;min-height:1%;}
*html .fixed{height:1%;}
.clear{diplay:block!important;float:none!important;clear:both;overflow:hidden;width:auto!important;height:0!important;margin:0 auto!important;padding:0!important;font-size:0;line-height:0;}
.fl,.fr{display:inline;float:left;}
.fr{float:right;}

/* 自定义样式 */
.c-clred{color:#f00 !important;}
.c-wdat{width:auto !important;}
.c-wd30{width:30px !important;}
.c-wd50{width:50px !important;}
.c-wd60{width:60px !important;}
.c-wd80{width:80px !important;}
.c-wd100{width:100px !important;}
.c-wd120{width:120px !important;}
.c-wd150{width:150px !important;}
.c-wd300{width:300px !important;}
.c-wdmin{}
.u-hr{height:10px;margin-top:10px;border-top:1px solid #bbb;}
.c-bg{background:#fafafa;background-image:-moz-linear-gradient(top, #ffffff, #ededed);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ededed));background-image:-webkit-linear-gradient(top, #ffffff, #ededed);background-image:-o-linear-gradient(top, #ffffff, #ededed);background-image:linear-gradient(to bottom, #ffffff, #ededed);background-repeat:repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);}
.c-bor{border:1px solid #d9d9d9;}
.c-bor2{border:3px dashed #f00;}
.c-bortit{border:1px solid #d9d9d9;border-bottom-color: #2e6da8;}
.c-bgfff{background:#fff !important;}
.c-bgtwinkle{background:url(../img/icon_twinkle.gif) !important;}
.c-bgtwinkle p{color:#fff !important;}
.c-colf00{color:#f00 !important;}
.u-txt{font-size:12px;color:#333;}
.u-txt a{text-decoration:none;}
